.favorites__title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}
.favorites__title p {
  margin-top: 20px;
  font-size: 24px;
}
.favorites__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
