.SignUpPage__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.SignUpPage__container input {
  height: 30px;
  border: 1px solid black;
  width: 420px;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(263, 195, 0);
}

.SignUpPage__container p {
  color: red;
}
.SignUpPage__container button {
  font-size: 26px;
  background-color: rgb(263, 195, 0);
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}
.SignUpPage__container button:hover {
  color: white;
}
.SignUpPage-error {
  color: red;
  text-align: center;
  font-size: 26px;
}