.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: black;
}
.main p {
  font-size: 34px;
}
.main img {
  width: 400px;
}
.main p:last-child {
  font-size: 18px;
}