.main {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: black;
}
.main a {
  color: black;
  font-size: 36px;
  border-bottom: 1px solid black;
}