.cart {
  margin: 0 10px;
}
.cart__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 1200px;
  margin: 0 auto;
}
.cart__container h1 {
  font-size: 38px;

  margin-bottom: 10px;
}
.cart__container-auth {
  height: 20vh;
  font-size: 24px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__container-content {
  display: flex;
  justify-content: center;
  gap: 30px;
}
  .cart-tab-products-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .cart-tab-total-amount {
    border: 1px solid black;
    width: 320px;
    height: 300px;
    border-radius: 8px;
    padding: 10px;
  }
    .cart-tab-total-amount h3 {
      text-align: center;
      font-size: 24px;
      padding: 10px;
    }
    .cart-tab-total-amount > div > p {
      font-size: 16px;
      color: gray;
      margin: 0;
    }
    .cart-tab-total-amount > div > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 24px;
    }
    .cart-tab-total-amount button {
      background: transparent;
      width: 100%;
      font-size: 20px;
      padding: 15px;
      border: 1px solid black;
      border-radius: 8px;
      background-color: rgb(263, 195, 0);
      margin-top: 20px;
    }

.cart__container-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart__container-empty h1 {
  font-size: 36px;
  margin-bottom: 15px;
}
.cart__container-empty a {
  font-size: 24px;
  margin-bottom: 10px;
}
.cart__container-handlers {
  display: flex;
  gap: 20px;
}
.cart__container-handlers button {
  font-size: 16px;
  background: transparent;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  background-color: gold;
  transition: all 0.2s;
}
.cart__container-handlers button:first-child:hover {
  background-color: rgb(29, 172, 29);
}
.cart__container-handlers button:last-child:hover {
  background-color: red;
}