.header {
  position: sticky;
  height: 100px;
  background-color: rgb(263, 195, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 0 15px;
}
  .header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
  }
    .header__container a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      font-size: 18px;
    }
    .header__container a:hover {
      color: white;
    }
    .header__container-search {
      position: relative;
    }
    .header__container-search input {
      border: none;
      outline: none;
      border-radius: 8px;
      height: 50px;
      width: 400px;
      padding: 0 40px 0 10px;
      font-size: 16px;
    }
    .header__container-search button {
      position: absolute;
      font-size: 30px;
      background: white;
      right: 5px;
      top: 6px;
      display: none;
    }
    .header__container-search:hover button {
      display: block;
    }
    .header__container-menu {
      display: flex;
      gap: 15px;
    }
    .header__container-menu img {
      width: 35px;
    }