.header {
  position: sticky;
  height: 100px;
  background-color: rgb(263, 195, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 0 15px;
}
  .header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
  }
    .header__container a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      font-size: 18px;
      justify-content: center;
    }
    .header__container a:hover {
      color: white;
    }
    .header__container-menu {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      row-gap: 10px;
      justify-content: right;
    }
    .header__container-menu img {
      width: 35px;
    }

  .header__menu-cart {
    position: relative;
  }
  .header__menu-cartLength {
    font-weight: 700;
    box-shadow: 0 0 0 2px #fff;
    top: -3px;
    left: 24px;
    background: linear-gradient(0deg,#fc8507,#ffa218);
    border-radius: 50px;
    align-items: center;
    color: #fff;
    display: inline-flex;
    font-size: 13px;
    height: 15px;
    justify-content: center;
    line-height: 13px;
    min-width: 16px;
    position: absolute;
    padding: 9px 5px;
  }
  .header__menu-favorite {
    position: relative;
  }
  .header__menu-favoriteLength {
    font-weight: 700;
    box-shadow: 0 0 0 2px #fff;
    top: -3px;
    left: 24px;
    background: linear-gradient(0deg,#fc8507,#ffa218);
    border-radius: 50px;
    align-items: center;
    color: #fff;
    display: inline-flex;
    font-size: 13px;
    height: 15px;
    justify-content: center;
    line-height: 13px;
    min-width: 16px;
    position: absolute;
    padding: 9px 5px;
  }
  .header__menu-addProduct {
    cursor: pointer;
  }