.products__content-item {
  border: 1px solid green;
  padding: 5px;
  border-radius: 8px;
}
.products__content-item img {
  width: 250px;
  height: 250px;
  display: flex;
  margin: auto;
}
.products__content-item h3 {
  font-weight: bold;
  text-align: center;

}
.products__content-item div {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  font-weight: bold;

}
.products__content-item button {
  display: flex;
  margin: auto;
  background-color: rgb(263, 195, 0);
  font-size: 20px;
  padding: 7px;
  border-radius: 8px;
}
.products__content-item button:hover {
  color: white;
}